:root {
  --background: rgba(21, 32, 43, 1);
  --pink: rgba(224, 36, 94, 0.7);
  --pinkWoAlpha: rgb(224, 36, 94);
}

.progress_bar .pro-bar {
  background: #fff;
  /* box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset; */
  height: 4px;
  margin: 30px 0px;
  position: relative;
}
.progress_bar .progress_number {
  float: right;
  margin-top: -24px;
}

.progress_bar .progress-bar-inner {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
  background-color: var(--pinkWoAlpha);
}
.progress_bar .progress-bar-inner:before {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 1;
}
.progress_bar .progress-bar-inner:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}
