:root {
  --background: rgba(21, 32, 43, 1);
  --pink: rgba(224, 36, 94, 0.7);
  --pinkWoAlpha: rgb(224, 36, 94);
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pinkWoAlpha);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
