@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0eg);
            transform: rotate(0eg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0eg);
            transform: rotate(0eg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: #9dc183;
  background-color: #101010;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #101010;
  z-index: 1;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}

header .header-container .navigation-btn {
  position: relative;
  padding: 5px 10px;
  margin: 0 5px;
  width: 175px;
  text-align: center;
  cursor: pointer;
}

.scroll-container {
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  height: calc(100vh - 100px);
  margin-top: 100px;
  scroll-snap-align: center;
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home-section .home-container .home-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.home-section .home-container .home-text h1 {
  margin-right: 5px;
  font-size: 50px;
}

.home-section .home-container .home-text .typer {
  font-size: 36px;
  font-weight: 700;
}

.project-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.project-section .project-text,
.project-section .contact-text {
  text-align: center;
}

.project-section .splide {
  width: 90%;
  cursor: pointer;
}

.project-section .splide .card {
  position: relative;
  width: 600px;
  max-height: 338px;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  border: 1px solid white;
  border-radius: 5px;
}

.project-section .splide .card img {
  width: 100%;
  -webkit-transform-origin: 50% 65%;
          transform-origin: 50% 65%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.project-section .splide .card .card-text {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.project-section .splide .card .card-text h2 {
  font-weight: 700;
  font-size: 24px;
}

.project-section .splide .card:hover .card-text {
  opacity: 1;
}

.project-section .splide .card:hover img {
  -webkit-transition: -webkit-transform 5s ease-in-out;
  transition: -webkit-transform 5s ease-in-out;
  transition: transform 5s ease-in-out;
  transition: transform 5s ease-in-out, -webkit-transform 5s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project-section .skills {
  position: absolute;
  bottom: 50px;
}

.project-section .skills a {
  margin: 0 2px;
}

.project-section .skills a img {
  width: 48px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.project-section .skills a img:hover {
  -webkit-transition: 2s ease-in-out all;
  transition: 2s ease-in-out all;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 calc(15rem + 30px);
}

.about-section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-section .about-text {
  line-height: 2;
}

.navigation-btn,
.navigation-btn:after,
.navigation-btn:before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation-btn:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #9dc183;
  height: 1px;
}

.navigation-btn:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.navigation-btn:hover:after {
  width: 100%;
  height: 2%;
}

.navigation-btn:hover {
  z-index: 1;
}

.navigation-btn:hover:after {
  z-index: -10;
  -webkit-animation: fill 0.2s forwards;
          animation: fill 0.2s forwards;
  opacity: 1;
}

.active::after {
  opacity: 1;
  width: 100%;
  height: 2%;
}

.contact-list {
  position: fixed;
  top: 100px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-list .contact-item {
  width: 15rem;
}

.contact-btn {
  max-width: 74px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.contact-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-btn span {
  max-width: 0;
  color: #1da1f2;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.contact-btn:hover {
  max-width: 15rem;
}

.contact-btn:hover img {
  -webkit-animation: shake 0.2s 2 linear;
          animation: shake 0.2s 2 linear;
}

.contact-btn:hover span {
  max-width: 15rem;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */