@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: #9dc183;
  background-color: #101010;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #101010;
  z-index: 1;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    max-width: 100%;
    padding: 0 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .navigation-btn {
      position: relative;
      padding: 5px 10px;
      margin: 0 5px;
      width: 175px;
      text-align: center;
      cursor: pointer;
    }
  }
}
// Main - Scroll effect
.scroll-container {
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: calc(100vh - 100px);
  margin-top: 100px;
  scroll-snap-align: center;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .home-container {
    .home-text {
      text-align: center;
      display: flex;
      align-items: baseline;
      h1 {
        margin-right: 5px;
        font-size: 50px;
      }
      .typer {
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

.project-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;

  .project-text,
  .contact-text {
    text-align: center;
  }

  .splide {
    width: 90%;
    cursor: pointer;

    .card {
      position: relative;
      width: 95%;
      max-height: 338px;
      overflow: hidden;
      transition: 0.2s all ease-in-out;
      border: 1px solid white;
      border-radius: 5px;

      img {
        width: 100%;
        transform-origin: 50% 65%;
        transition: transform 0.5s ease-in-out;
      }

      .card-text {
        position: absolute;
        bottom: 0;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 16px;
        opacity: 0;
        transition: 0.2s all ease-in-out;
        h2 {
          font-weight: 700;
          font-size: 24px;
        }
      }

      &:hover {
        .card-text {
          opacity: 1;
        }
        img {
          transition: transform 5s ease-in-out;
          transform: scale(1.2);
        }
      }
    }
  }

  .skills {
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column;
    a {
      margin: 10px 0;
      width: 74px;
      text-align: center;
      img {
        width: 44px;
        transition: 0.2s all ease-in-out;
        &:hover {
          transition: 2s ease-in-out all;
          transform: scale(1.2);
        }
      }
    }
  }
}

.about-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 calc(15rem + 30px);

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-text {
    line-height: 1.5;
  }
}

// Stroke effect
.navigation-btn,
.navigation-btn:after,
.navigation-btn:before {
  transition: all 0.5s;
}

.navigation-btn:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #9dc183;
  height: 1px;
}

.navigation-btn:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.navigation-btn:hover:after {
  width: 100%;
  height: 2%;
}

.navigation-btn:hover {
  z-index: 1;
}
.navigation-btn:hover:after {
  z-index: -10;
  animation: fill 0.2s forwards;
  opacity: 1;
}
.active::after {
  opacity: 1;
  width: 100%;
  height: 2%;
}

// CONTACT LIST
.contact-list {
  position: fixed;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: column;

  .contact-item {
    width: 15rem;
  }
}

.hidden {
  display: none !important;
}

.contact-btn {
  max-width: 74px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  transition: 0.5s all ease-in-out;

  a {
    display: flex; // Bug fix.
    align-items: center;
  }

  span {
    max-width: 0;
    color: #1da1f2;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    max-width: 15rem;
    img {
      animation: shake 0.2s 2 linear;
    }
    span {
      max-width: 15rem;
      margin-left: 20px;
    }
  }
}

// RESPONIVE
@media (max-width: 1440px) {
  .splide {
    width: 85% !important;
  }
  /*   .card {
    width: 500px !important;
  } */
  .splide__slide {
    width: 50% !important;
  }
  .skills {
    a {
      margin: 5px 0 !important;
    }
  }
  .project-text {
    font-size: 20px;
  }
  .contact-text {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  /*   .card {
    width: 400px !important;
  } */
  .splide {
    width: 80% !important;
    align-self: flex-end;
    margin-right: 94px;
    .splide__slide {
      width: 75% !important;
    }
  }
  .about-section {
    padding: 0;
    .about-container {
      font-size: 20px;
      padding: 0 15rem;
    }
    .contact-text {
      font-size: 20px;
    }
  }
  .contact-btn {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header-container {
    font-size: 20px !important;
  }
  .about-section {
    justify-content: space-between;
  }
  .about-container {
    font-size: 16px !important;
    padding: 0 10rem !important;
    margin-top: 70px !important;
  }
  .contact-btn {
    a {
      img {
        width: 32px;
      }
    }
  }

  .home-text {
    flex-direction: column;
    height: 110px !important;
  }
  /*   .contact-list {
    height: calc(100vh - 100px);
    justify-content: space-around;
  } */

  .contact-text {
    font-size: 16px !important;
    margin-bottom: 50px !important;
  }

  .splide {
    margin: 0;
    width: 95% !important;
    align-self: center;
    .splide__slide {
      width: 50% !important;
    }
  }

  .project-text {
    font-size: 16px;
  }
  .card-text {
    font-size: 12px !important;
    h2 {
      font-size: 16px !important;
    }
  }

  .skills {
    flex-direction: row !important;
    top: auto !important;
    left: auto !important;
    bottom: 20px !important;
    width: 100%;
    padding: 0 5px;
    justify-content: center;
    a {
      width: 32px !important;
      margin: 0 10px !important;
      img {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .header-container {
    font-size: 16px !important;
  }
  /*   .home-text {
    flex-direction: column;
    height: 110px !important;
  } */

  .about-section {
    justify-content: space-evenly;
    .about-container {
      padding: 0 20px !important;
      margin: 0 !important;
    }
    .about-text {
      line-height: 1.8 !important;
    }

    .contact-text {
      padding: 0 10px;
    }
  }
  .contact-list {
    height: auto !important;
    flex-direction: row !important;
    top: auto !important;
    left: 0 !important;
    bottom: 20px !important;

    width: 100% !important;
    justify-content: center;

    .divider {
      display: flex;
      .contact-item {
        width: 100% !important;
      }
    }
  }

  .splide {
    margin: 0;
    width: 95% !important;
    align-self: center;
    .splide__slide {
      width: 85% !important;
    }
  }

  .skills {
    a {
      margin: 2px !important;
    }
  }
}

@media (max-width: 375px) {
  .about-section {
    .about-text {
      line-height: 1.3 !important;
    }
  }
}
