@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

//Roor Loading
$transition-duration: 2s;
$path-length: 157px;

:root {
  --background: rgba(21, 32, 43, 1);
  --pink: rgba(224, 36, 94, 0.7);
  --pinkWoAlpha: rgb(224, 36, 94);
}

* {
  list-style: none;
}

body {
  background: url(../img/website/bg.svg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Lato", sans-serif;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
    .loader-outter {
      position: absolute;
      border: 4px solid rgb(224, 36, 94); // var(--pink) w/o alpha
      border-left-color: transparent;
      border-bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    }
    .loader-inner {
      position: absolute;
      border: 4px solid rgb(224, 36, 94); // var(--pink) w/o alpha
      border-radius: 50%;
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
      top: calc(50% - 20px);
      border-right: 0;
      border-top-color: transparent;
      animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    }
  }

  @keyframes loader-outter {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader-inner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

.page {
  display: none;
}

.makeItPink {
  color: rgb(224, 36, 94) !important;
}

.menu {
  left: 10%;
  //   -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  //   -webkit-overflow-scrolling: touch;
  background-color: var(--background);
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 10px var(--pink);
  height: 100% !important;
  min-height: 100vh !important;
  max-width: 80vw !important;
  // min-width: 350px;
  outline: none;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;

  .container {
    min-height: 100% !important;
    i {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: var(--pink);
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      text-align: center;
      filter: drop-shadow(0 0 10px var(--pink));
    }
  }

  .author-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h4 {
      font-size: 1.8rem;
      margin-top: 0;
    }
    .desc {
      width: 70%;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 2px solid var(--pink);
      .column {
        color: var(--pink);
        font-size: 1.3rem;
        font-weight: 900;
      }
    }
  }
  .copyright-text {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .main-menu {
    text-align: center;
    padding: 0;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .navs {
      display: block;
      margin-bottom: 20px;
      width: 50%;
      transition: all 0.5s;
      a {
        height: 70px;
        line-height: 70px;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        width: 100%;
        box-shadow: 0 0 10px var(--pink);
        background-color: var(--pink);
        border-radius: 5px;
      }
      &:hover,
      &.active {
        width: 100%;
        filter: drop-shadow(0 0 15px var(--pink));
      }
    }
  }

  // .social-network {
  //   min-width: 100% !important;
  //   width: 100%;
  //   padding: 0;
  //   text-align: center;
  //   span {
  //     color: #fff !important;
  //   }

  //   .social-icons {
  //     margin: 0;
  //     padding: 10px;
  //     display: flex !important;
  //     align-items: center;
  //     justify-content: space-around;
  //     li {
  //       transition: 0.3s;
  //       &:hover {
  //         transform: scale(1.3);
  //         filter: drop-shadow(0 0 15px var(--pink));
  //       }
  //     }
  //   }
  // }
}
.section {
  color: #fff;
  width: 55%;
  right: 10%;
  left: 35%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
  border-bottom: 3px solid #fff;
  &.contact-me {
    border-bottom: none;
  }

  .section-heading {
    text-align: center;
    padding: 80px 45px;

    // Contact Me - Socials
    .contact-socials {
      .contact-icons {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          padding: 0.7rem;
          transition: 0.3s;
          &:hover {
            transform: scale(1.3);
            filter: drop-shadow(0 0 15px var(--pink));
          }
          a {
            text-decoration: none;
            color: var(--pink);
          }
        }
      }
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #fff;
    }

    .line-dec {
      width: 60px;
      height: 3px;
      background-color: rgb(224, 36, 94); // var(--pink) w/o alpha
      margin: 10px auto;
    }

    span {
      margin-top: 5px;
      font-size: 16px;
      color: #fff;
      letter-spacing: 0.5px;
      line-height: 1rem;
    }
  }
  .right-image-post {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .download {
      padding: 20px 30px;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 60px;
      background-color: var(--pink);
      box-shadow: 0 0 5px var(--pink);
      color: #fff;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 0 15px var(--pink);
      }
    }
  }
}

.service-item {
  padding: 20px;
}


// Projects

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  padding: 50px;
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h4 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  color: var(--background);
}
figure.snip1321 span {
  font-size: 14px;
  font-style: italic;
  display: block;
  color: #7a7a7a;
}
figure.snip1321 i {
  position: relative !important;
  font-size: 18px;
  background-color: rgba(224, 36, 94, 0.9); // var(--pink)
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

.isotope-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

  .isotope-item {
    max-width: 100%;
    margin-right: 0;
    img {
      max-width: 100%;
    }
  }
}
.contact-page {
  h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
  }
  .container {
    display: flex;
    flex-direction: column;

    .form {
      fieldset {
        .form-control {
          background-color: var(--background);
          border: none;
          box-shadow: 0 0 10px var(--pink);
          margin-bottom: 20px;
          padding: 1rem;
          color: #fff;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }
    a {
      text-decoration: none;
      padding: 20px 30px;
      font-size: 1rem;
      font-weight: bold;
      background-color: var(--pink);
      box-shadow: 0 0 5px var(--pink);
      color: #fff;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 0 15px var(--pink);
      }
    }
  }
}
.open-menu {
  #openIcon {
    display: none;
  }
}

/* MEDIA QUERIES  */
@media screen and (min-width: 1681px) {
  .menu {
    .container{
      margin-top: 50px;
    }
  }
}


@media screen and (max-width: 1680px) {
  .menu {
    left: 5%;
  }

  .section {
    color: #fff;
    width: 65%;
    right: 5%;
    left: 30%;
  }
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
  .menu .image {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    left: 0%;
  }

  .right-image-post h4,
  .left-image-post h4 {
    margin-top: 0px;
  }

  .right-image-post p,
  .left-image-post p {
    margin-top: 15px;
  }

  .right-image-post .white-button,
  .left-image-post .white-button {
    margin-top: 25px;
  }
}

@media screen and (max-width: 845px) {
  .menu {
    min-width: 100%;
    transform: translateX(-900px);
    // transform-origin: 0% 0%;
    // transform: translate(-100%, 0%);
    transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu .image {
    margin-top: 40px;
  }

  .menu .image img {
    width: 120px;
    height: 120px;
  }

  .menu .author-content {
    margin: 0px 0px 20px 0px;
  }

  .menu .container {
    padding-left: 15px;
    padding-right: 15px;
    #closeIcon {
      display: block;
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }

  .open-menu {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 999; // Make it clickable*
    #openIcon {
      display: block;
    }
  }
  .section {
    width: 94%;
    right: 3%;
    left: 3%;
  }
  .isotope-item {
    width: 94%;
    margin: 3%;
  }
  .left-image-post img {
    margin-bottom: 30px;
  }
  .right-image-post img {
    margin-top: 30px;
  }
  .isotope-item {
    border-bottom: none;
    text-align: center;
  }
  .isotope-toolbar {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
  .menu {
    width: 25%;
  }
}

@media screen and (max-width: 1400px) {
  .isotope-box {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
    figcaption{
      span{
        font-size: .8rem;
      }
      h4{
        font-size: .8rem;
      }
    }
}
