@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: #9dc183;
  background-color: #101010;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #101010;
  z-index: 1;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;

    .navigation-btn {
      position: relative;
      padding: 5px 10px;
      margin: 0 5px;
      width: 175px;
      text-align: center;
      cursor: pointer;
    }
  }
}
// Main - Scroll effect
.scroll-container {
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: calc(100vh - 100px);
  margin-top: 100px;
  scroll-snap-align: center;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .home-container {
    .home-text {
      text-align: center;
      display: flex;
      align-items: baseline;
      h1 {
        margin-right: 5px;
        font-size: 50px;
      }
      .typer {
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

.project-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;

  .project-text,
  .contact-text {
    text-align: center;
  }

  .splide {
    width: 90%;
    cursor: pointer;
    .card {
      position: relative;
      width: 600px;
      max-height: 338px;
      overflow: hidden;
      transition: 0.2s all ease-in-out;
      border: 1px solid white;
      border-radius: 5px;

      img {
        width: 100%;
        transform-origin: 50% 65%;
        transition: transform 0.5s ease-in-out;
      }

      .card-text {
        position: absolute;
        bottom: 0;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 16px;
        opacity: 0;
        transition: 0.2s all ease-in-out;
        h2 {
          font-weight: 700;
          font-size: 24px;
        }
      }

      &:hover {
        .card-text {
          opacity: 1;
        }
        img {
          transition: transform 5s ease-in-out;
          transform: scale(1.2);
        }
      }
    }
  }

  .skills {
    position: absolute;
    bottom: 50px;
    a {
      margin: 0 2px;
      img {
        width: 48px;
        transition: 0.2s all ease-in-out;
        &:hover {
          transition: 2s ease-in-out all;
          transform: scale(1.2);
        }
      }
    }
  }
}

.about-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 calc(15rem + 30px);

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-text {
    line-height: 2;
  }
}

// Stroke effect
.navigation-btn,
.navigation-btn:after,
.navigation-btn:before {
  transition: all 0.5s;
}

.navigation-btn:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #9dc183;
  height: 1px;
}

.navigation-btn:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.navigation-btn:hover:after {
  width: 100%;
  height: 2%;
}

.navigation-btn:hover {
  z-index: 1;
}
.navigation-btn:hover:after {
  z-index: -10;
  animation: fill 0.2s forwards;
  opacity: 1;
}
.active::after {
  opacity: 1;
  width: 100%;
  height: 2%;
}

.contact-list {
  position: fixed;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: column;

  .contact-item {
    width: 15rem;
  }
}

.contact-btn {
  max-width: 74px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  transition: 0.5s all ease-in-out;

  a {
    display: flex; // Bug fix.
    align-items: center;
  }

  span {
    max-width: 0;
    color: #1da1f2;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }
  &:hover {
    max-width: 15rem;
    img {
      animation: shake 0.2s 2 linear;
    }
    span {
      max-width: 15rem;
      margin-left: 20px;
    }
  }
}
